{% extends 'base.html' %}

{% load static %}

{% block 'main' %}



<form method="post">
                <div class="row mt-5 border border-black mx-auto p-2" style="width: 500px; height:250px;">
                <div class="mb-3 row mt-3">

                    <label for="1" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-auto mx-5">
                      <input type="text" name="uname" class="form-control" id="1" placeholder="Enter Your Username" >
                    </div>
                  </div>
                
                  <div class="mb-3 row">
                    <label for="2" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-auto mx-5">
                      <input type="password" name="upass" class="form-control" id="2" placeholder="Enter Your Password">
                    </div>
                  </div>
                  
                  
                  
                  <div class="button mb-3">
                  <button type="button" class="btn btn-danger  btn-lg" type="submit">Login</button>
                  <p class="link mt-2">Don't have an account/<a style="color: black ;" href="/register">Register</a></p>
                  </div>
                
                
                </div><!--login page end-->
                </form>

{% endblock 'main' %}


